[submodule "TBXTools/Resources/sql-tbx_validation_api_data"]
	path = TBXTools/Resources/sql-tbx_validation_api_data
	url = https://github.com/byutrg/sql-tbx_validation_api_data.git
	branch = sqlite
[submodule "TBX-Core_dialect"]
	path = TBXTools/Resources/TBX-Core_dialect
	url = https://github.com/LTAC-Global/TBX-Core_dialect.git
[submodule "TBX-Min_dialect"]
	path = TBXTools/Resources/TBX-Min_dialect
	url = https://github.com/LTAC-Global/TBX-Min_dialect.git
[submodule "TBX-Basic_dialect"]
	path = TBXTools/Resources/TBX-Basic_dialect
	url = https://github.com/LTAC-Global/TBX-Basic_dialect.git
[submodule "TBX-Linguist_dialect"]
	path = TBXTools/Resources/TBX-Linguist_dialect
	url = https://github.com/LTAC-Global/TBX-Linguist_dialect.git
[submodule "TBX_min_module"]
	path = TBXTools/Resources/TBX_min_module
	url = https://github.com/LTAC-Global/TBX_min_module.git
[submodule "TBX_core_module"]
	path = TBXTools/Resources/TBX_core_module
	url = https://github.com/LTAC-Global/TBX_core_module.git
[submodule "TBX_basic_module"]
	path = TBXTools/Resources/TBX_basic_module
	url = https://github.com/LTAC-Global/TBX_basic_module.git
[submodule "TBX_linguist_module"]
	path = TBXTools/Resources/TBX_linguist_module
	url = https://github.com/LTAC-Global/TBX_linguist_module.git
[submodule "TBX_termComp_module"]
	path = TBXTools/Resources/TBX_termComp_module
	url = https://github.com/LTAC-Global/TBX_termComp_module.git
[submodule "TBXTools/Resources/sql-tbx-master-datcat-repo"]
	path = TBXTools/Resources/sql-tbx-master-datcat-repo
	url = https://github.com/byutrg/sql-tbx-master-datcat-repo.git
	branch = sqlite
